aiohttp==3.6.2
certifi==2019.6.16
chardet==3.0.4
cloudpickle==1.5.0
Click==7.0
cufflinks==0.17.3
dash==1.1.1
dash-core-components==1.10.2
dash-html-components==1.0.3
dash-renderer==1.6.0
dash-table==4.9.0
dash-table-experiments == 0.6.0
dask==2.22.0
decorator==4.4.0
Fiona==1.8.13.post1
Flask==1.1.2
Flask-Compress==1.5.0
fsspec==0.8.0
grpcio==1.31.0
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
jupyter-core==4.5.0
MarkupSafe==1.1.1
nbformat==4.4.0
numpy==1.16.4
pandas==0.24.2
plotly==4.9.0
pytz==2019.1
six==1.12.0
shapely == 1.7.0
traitlets==4.3.2
Werkzeug==0.15.4
bs4==0.0.1
beautifulsoup4==4.7.1
requests == 2.23.0
pillow == 7.1.2
pygeos==0.7.1
typing-extensions==3.7.4.2

swifter==1.0.3
toolz==0.10.0
widgetsnbextension==3.5.1


